.default {
    color: rgb(0, 50, 150);
    background-color:rgb(27, 27, 27);
    background: linear-gradient(180deg, rgba(27,193,195,1) 0%, rgba(27,27,27,1) 20%);
}

.rot90 {
    transform: rotate(-75deg);
    position: relative;

}

.links {
    font-size: 30px;
    border: 3px solid green;
    min-width: fit-content;
    width: 50vw;
}

.glinks {
    border: 3px dashed red;
}


.lm {
    margin-right: 15px;
    margin-top: 5px;
}

.low {
    filter: blur(100);
    font-size: large;
    background: rgb(27,193,195);
    background: linear-gradient(0deg, rgba(27,193,195,1) 0%, rgba(27,27,27,1) 50%);
}

.fback{
    display: inline-flexbox;
    color: brown;
    filter: brightness(1);
}

.Notice {
    display: inline-flexbox;
    color:coral;
    padding-top: 5px;
    margin-top: 5px;
}
