.default {
    color: rgb(0, 50, 150);
    background-color:rgb(27, 27, 27);
}

.links {
    font-size: 30px;
    border: 3px solid green;
    width: 500px;
}

.a {
    border: 3px dashed red;
}
.b {
    border: 3px dashed red;
}
.c {
    border: 3px dashed red;
}
.d {
    border: 3px dashed red;

}
.e{
    border: 3px dashed red;
}

.lm {
    margin: 15px;
}

.low {
    filter: blur(100);
    font-size: large;
    background: rgb(27,193,195);
    background: linear-gradient(0deg, rgba(27,193,195,1) 0%, rgba(27,27,27,1) 53%);
}

.fback{
    display: inline-flexbox;
    color: brown;
    filter: brightness(1);
}

.Notice {
    display: inline-flexbox;
    color:coral;
    padding-top: 5px;
    margin-top: 5px;
}
