.default {
    color: rgb(255, 255, 255);
    background-color:rgb(27, 27, 27);
}

.links {
    font-size: 30px;
    border: 3px solid green;
    width: 500px;
}

.a {
    border: 3px dashed red;
}
.b {
    border: 3px dashed red;
}
.c {
    border: 3px dashed red;
}
.d {
    border: 3px dashed red;

}
.e{
    border: 3px dashed red;
}

.lm {
    margin: 15px;
}